@using PortfolioWebsite.Models
@using System.Web;

@model Contact

@{
    PersonalInfo info = ViewBag.PersonalInfo;
    IEnumerable<Service> services = ViewBag.Services;
    IEnumerable<Skill> skills = ViewBag.SKills;
    var groupedProjects = ViewBag.Projects as List<IGrouping<Category, Project>>;
}

<!-- Hero Section -->
<section id="home-section">
    <div class="container mt-5 border rounded-3 text-center shadow-lg bg-body">
        <div class="row p-4 pe-lg-0 pt-lg-5 align-items-start">
            <div class="col-md-8 p-3 p-lg-5 pt-lg-3 lh-2">
                <h1 class="text-muted">
                    <span class="text-primary">&lt;</span>@info.Title<span class="text-primary">/&gt;</span>
                </h1>
                <br>
                <h3 class="text-muted">@info.SubTitle</h3>
                <h5 class="text-muted">I am <span id="typed"></span></h5>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4 mb-lg-3">
                    <button type="button" class="btn btn-primary px-4 me-md-2"><a href="#contact-section">Hire Me</a></button>
                    <button type="button" class="btn btn-outline-primary px-4"><a href="#contact-section">Contact</a></button>
                </div>
            </div>
            <div class="col-md-4 align-items-center">
                <img src="~/images/@info.HomeImage" alt="" class="img-fluid">
            </div>

        </div>
    </div>
</section>

<!-- About Section -->
<section id="about-section" class="mt-5">
    <div class="container col-xxl-8 px-4">
        <div class="row align-items-center g-5 py-5 ">
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <img src="~/images/@info.AboutImage" class="d-block mx-lg-auto img-fluid w-75" alt="my-image">
            </div>
            <div class="col-lg-8">
                <h2 class=" lh-1 mb-3 text-muted">About Me</h2>
                <hr>
                @Html.Raw(HttpUtility.HtmlDecode(info.Description))
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary px-4 me-md-2">
                        <a href="@info.CVLink"
                           target="_blank">
                            Download
                            CV
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="services-section" class="py-5 py-xl-8">
    <div class="container overflow-hidden">
        <h2 class="lh-1 mb-3 text-muted">Services</h2>
        <hr>
        <div class="row gy-4 gy-xl-0">
            @foreach (var item in services)
            {
                <div class="col-12 col-sm-6 col-xl-4">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <span>
                                <i class="@item.ServiceImage text-primary mb-4 fs-1"></i>
                            </span>
                            <h4 class="mb-4">@item.ServiceName</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Skills Section -->
<section id="skills-section" class="py-5 py-xl-8">
    <div class="container overflow-hidden">
        <h2 class="lh-1 mb-3 text-muted">Skills</h2>
        <hr>
        @foreach (var item in skills)
        {
            <button type="button" class="btn btn-secondary m-1">@item.SkillName</button>
        }
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio-section">
    <div class="container py-5">
        <h2 class="lh-1 mb-3 text-muted">Portfolio</h2>
        <hr>
        @foreach (var category in groupedProjects)
        {
            <h3 class="text-muted my-3">@category.Key.CategoryName</h3>
            <div class="row">
                @foreach (var project in category)
                {
                    <div class="col-md-4 col-sm-12 my-3">
                        <div class="card border-0 border-bottom border-secondary shadow-sm">
                            <img src="~/images/projects/@project.ProjectImage" class="card-img-top"
                                 alt="@project.ProjectName">
                            <div class="card-body">
                                <p class="card-text text-center">@project.ProjectName</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

<!-- Contact Section -->
<section id="contact-section">
    <div class="container p-2 rounded-3 border shadow-lg bg-body">
        <h2 class="p-3 text-muted">Contact Me</h2>
        <hr>
        <div class="row">
            <div class="col-md-5 p-5">
                <p>
                    <i class="fa-solid fa-envelope mx-2"></i><a href="mailto:@info.Email">@info.Email</a>
                </p>
                <p><i class="fa-solid fa-location-dot mx-2"></i>@info.Location</p>
                <p>
                    <i class="fa-brands fa-linkedin mx-2"></i><a href="@info.LinkedInURL">
                        @info.LinkedInTitle
                    </a>
                </p>
                <p>
                    <i class="fa-brands fa-instagram mx-2"></i><a href="@info.InstagramURL">
                        @info.InstagramTitle
                    </a>
                </p>
                <p>
                    <i class="fa-brands fa-github mx-2"></i><a href="@info.GitHubURL">@info.GitHubTitle</a>
                </p>
            </div>
            <div class="col-md-7 p-5">
                <form method="POST" asp-action="SendMessage" asp-controller="Home" class="row g-3">
                    <div class="col-md-6">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" required>
                    </div>
                    <div class="col-12">
                        <label asp-for="Message" class="form-label"></label>
                        <textarea class="form-control" asp-for="Message" rows="3" required></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" onclick="ShowMessage()">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
     function ShowMessage() {
         Swal.fire({
           title: "Message",
           text: @ViewData["MessageStatus"],
           icon: "success"
         });
    }
</script>
